body
{
	background-color:#f9f9f9;
	color:#444;
}
.content{
	width:80%;
	margin:10px auto;
}
.menu
{
	background-color:#87CEFA;
	border:1px solid #f0f0f0;
	border-radius:8px;
	margin-bottom:10px;
}
.menu ul
{
	list-style:none;
	overflow: hidden;
}
.menu ul li
{
	float:left;		
	text-transform:uppercase;
}
.menu ul li a
{
	display:block;	
	padding:0 5px;
	margin-top:15px;
	text-decoration:none;
	color:#2c2c2c;
	font-size:15px;
	font-weight:bold;
	transition:all 0.3s ease-in-out;
}
.badan
{
	background-color:white;
	border-radius:5px;
	border:1px solid #f0f0f0;
	margin-bottom:10px;
}



